
@media(max-width: 640px){
  body h1{
    font-size: 38px;
    line-height: 45px;
  }
  body p{
    font-size: 16px;
    line-height: 29px;
  }
  header{
    height: auto;
    .header-content{
      height: auto;
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }
  .pos-sec-inside{
    .big-sec{
      padding-top: 20px;
      padding-bottom: 20px;
      .button{
        margin-top: 0;
      }
    }
  }
  .header-content.top-img-content{
    padding-top: 0;
  }
  .block-user{
    position: relative;
    &.left{
      margin-left: 20px;
    }
    &.right{
      float: right;
    }
    p{
      font-size: 18px;
    }
  }
  .pos-img-wrap{
    height: 400px;
    .uk-container{
      margin-right: 0;
      margin-left: 0;
      width: 100%!important;
      .pos-img-head{
        width: 100%;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .big-sec{
    padding-top: 150px;
    padding-bottom: 130px;
    display: block;
    p{
      font-size: 20px;
      line-height: 29px;
    }
    .button{
      margin-left: auto;
      margin-right: auto;
      margin-top: 70px;
    }
  }

  .video-bg{
    height: 250px;
  }
  section{
    height: auto;
    min-height: 200px;
    > img{
      position: absolute;
    }
    .sec-info{
      padding-top: 150px;
      padding-bottom: 130px;
      position: relative;

    }
  }
  .sec-center{
    max-height: none;
    h2{
      padding-top: 100px;
    }
    .numbers{
      margin-top: 30px;
      margin-bottom: 100px;
      .uk-grid{
        flex-wrap: wrap;
      }
      .numer-item{
        text-align: left;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        margin-top: 10px!important;
        span{
          font-size: 55px;
          line-height: 70px;
          text-align: right;
          display: block;
          color: rgba($white, .25);
          width: 100%;
          padding-right: 10px;
        }
        p{
          display: inline-block;
          padding-left: 10px;
          margin-top: 20px;
          font-size: 16px;
          line-height: 28px;
          width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
  .button, a.button{
    padding: 20px 52px;
    font-size: 11px;
    svg, img{
      margin-left: 20px;
      height: 14px;
      margin-top: 0;
    }
  }
  body h2{
    font-size: 24px;
    line-height: 34px;
  }
  .partners.partners-video{
    min-height: auto;
    max-height: none;
    .partners-logo-wrap{
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .partners-wrap{
      position: relative;
      top: 0;
      transform: none;
      z-index: 100;
    }
    .partners-video{
      transform: none;
      height: 100%;
      width: 100%;
      top: 0;
      position: absolute;
      left: 0;

      video{
        width: auto;
        max-width: none;
        height: 100%;
      }
    }
  }
  .partners-items{
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 80px;
    max-width: calc(100vw - 30px);
    .partners-item{
      background-size: contain;
    }
  }

  .partners.without-video{
    padding-bottom: 60px;
  }

  .header-top{
    padding-top: 20px;
    .control-menu{
      margin-left: 80px;
    }
  }

  footer{
    padding-top: 100px;
    padding-bottom: 100px;
    .big-sec{
      padding-top: 0;
      padding-bottom: 0;
      .button{
        margin-top: 40px;
        width: 100%;
        padding: 20px;
        text-align: center;
        max-width: calc(100vw - 70px);
        img, svg{
          margin-top: 0;
        }
      }
    }
    .footer-items-wrap{
      grid-template-columns: 1fr!important;
      grid-gap: 0;
      >div{
        justify-content: flex-start;
      }
      .footer-item{
        margin-top: 40px;
      }
    }
    .footer-logo{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      padding-top: 85px;
      a{
        padding: 0;
        text-align: center;
      }
      >div{
        text-align: center;
      }
      img, svg{
        height: 30px;
      }
    }
  }
  .sec-auto{
    min-height: auto;
  }
  .article-sec{
    h2{
      margin-bottom: 20px!important;
    }
    p{
      margin-top: 20px;
    }
  }
  .menu nav ul li a{
    font-size: 32px;
  }
  .sec-min{
    padding-top: 0;
    padding-bottom: 0;
  }

  section .sec-info .button{
    margin-top: 20px;
  }

  .mr-top{
    margin-top: 30px;
  }

  .uk-container{
    width: calc(100% - 30px)!important;
  }
  .height-auto .header-content{
    margin-top: 100px;
    margin-bottom: 0;
  }
  .position-sec{
    padding-top: 0;
    padding-bottom: 0;
    .big-sec{
      padding-top: 50px;
      padding-bottom: 50px;
      .bare{
        margin-left: 0;
        margin-top: 30px;
      }
    }
    h2{
      padding-top: 0;
    }
    .big-sec.small-text p{
      font-size: 16px;
    }
  }
  .footer-item p{
    font-size: 16px;
    line-height: 22px;
  }
  footer{
    h3{
      font-size: 20px;
      line-height: 35px;
    }
  }
  section .sec-info .sec-logo-partner{
    height: 32px;
  }
  section ul li{
    font-size: 16px;
    line-height: 30px;
    &:before{
      top: 15px;
    }
  }
  nav .lang-wrap{
    margin-bottom: 50px;
    ul{
      width: 100%;
      text-align: right;
      li{
        display: inline-block;
        &.active-lang{
          a{
            color: rgba(0, 0, 0, 0.75);
            &:after{
              width: 100%;
            }
          }
        }
        a{
          font-size: 20px!important;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}
