@import 'var';
@import 'libs';


*{
  padding: 0;
  margin: 0;
  font-family: $ff-name, sans-serif!important;
}

.logo-wrap{
  color: $white;
  &:hover{
    color: $white;
  }
}

.video-bg{
  position: relative;
  overflow: hidden;
  // iframe{
  //   position: absolute;
  //   top: -10%;
  //   height: 120%;
  //   pointer-events: none;
  // }
  video{
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: none;
  }
}

.header-fix{
  width: 100%;
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  &.active{
    background-image: none;
    z-index: 850;
  }
}

.header-top{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: auto;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 200px;
  font-size: $header-size;
  &.active{
    color: $black;
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
      background-color: $black;
    }
    .lang-wrap ul li a{
      color: $black;
    }
    .logo-wrap{
      color: $black;
    }
  }
}

.control-header{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lang-wrap{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  ul{
    li{
      display: inline-block;
      list-style-type: none;
      &:not(:first-child){
        margin-left: 12px;
      }
      &:not(:last-child){
        margin-right: 12px;
      }
      a{
        font-size: $header-size;
        color: $white;
        text-transform: uppercase;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.control-menu{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  margin-left: 65px;
  align-items: center;
  text-transform: uppercase;
  > span{
    margin-right: 17px;
  }
  button{
    outline: none;
    height: 24px;
    &:active{
      outline: none;
    }
  }
}

.header-content{
  height: calc(90vh - 94px);
  margin-top: 94px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.big-sec{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  p{
    font-size: $text-big;
    line-height: 46px;
  }
  .button{
    margin-left: 125px;
  }
}

section{
  .sec-info{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    .sec-logo-partner{
      height: 50px;
      width: auto;
      margin-bottom: 30px;
    }
    .button{
      margin-top: 50px;
    }
  }
}


.numbers{
  margin-top: 150px;
  .uk-grid{
    justify-content: space-between;
  }
  .numer-item{
    text-align: center;

    span{
      font-size: 155px;
      color: rgba($white, .2);
      font-weight: lighter;
      line-height: 155px;
    }
    p{
      margin-top: -50px;
      white-space: nowrap;
    }
  }
}

.partners{
  h2{
    padding-top: 20px;
    margin-bottom: 60px!important;
  }
  .partners-logo-wrap{
    position: relative;
    height: 100%;
    overflow: hidden;
    flex: 1;
  }
  &.without-video{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .uk-container{
      width: 100%;
    }
  }
  &.partners-video{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    video{
      /* Make video to at least 100% wide and tall */
      min-width: 100%;
      min-height: 100%;

      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;

      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      max-width: none;
    }
    .partners-wrap{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      // height: 100%;
      display: block;
    }
  }

}

.partners-items{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 60px;
  .partners-item{
    display: flex;
    > *{
      margin: auto;
    }
  }
}

.footer-items-wrap{
  display: grid;
  justify-content: center;
  gap: 60px;
  > div {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }
}

.footer-item{
  margin-top: 130px;
  p{
    font-size: $text-small;
    line-height: 30px;
    a{
      color: $black;
    }
  }
}


.article-sec{
  padding: 95px 0;
  h2{
    margin-bottom: 150px!important;
  }
  p{
    // margin-top: 150px;
  }
}

@keyframes showNavbar {
  0% {
    transform: translate3d(0,-40px,0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}


.menu{
  position: fixed;
  display: block;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  background-color: $white;
  color: $black;
  overflow: hidden;
  opacity: 0;
  transition: all .3s ease;
  &.active{
    opacity: 1;
    visibility: visible;
    z-index: 820;
    nav{
      animation: showNavbar .9s ease forwards;
      visibility: visible;
    }
  }
  nav{
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
    ul{
      display: block;
      li{
        list-style-type: none;
        text-align: right;
        a{
          color: $black;
          font-size: $menu-size;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}

.menu nav .secNav{
  margin-top: 50px;
  li{
    a{
      font-size: 20px;
      color: rgba($black, .75);
    }
  }
}
.mr-top{
  margin-top: 190px;
}
.footer-logo{
  padding-top: 150px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  a{
    color: black;
    &:hover{
      color: black;
    }
  }
}

.height-auto{
  height: auto;
  .header-content{
    height: auto;
    margin-top: 350px;
    margin-bottom: 150px;
  }
}

.position-sec{
  height: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  .button{
    margin-left: 0;
    margin-top: 50px;
  }
  .big-sec.small-text{
    p{
      font-size: 26px;
    }
  }
}

.sec-min{
  height: auto;
  min-height: auto;
  padding-top: 250px;
  padding-bottom: 250px;
}


@import 'media';
